@import "variables.css";
@import "reset.css";


@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user.component.css";
@import "components/no-mobile.css";

@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/my.css";
@import "screens/chat.css";
@import "screens/chat-night.css";
@import "screens/keyboard.css";
@import "screens/settings.css";
@import "screens/logout.css";
@import "screens/logoutbefore.css";
body {
  background-color: white;
  height: 1000vh;
}


.header {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header h2 {
  font-size: 50px;
  color: #7ac81a;
  margin-bottom: 15px;
}

.header h3 {
  font-size: 25px;
  color: #c9d7ad;
}

