.icons {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #53cc17;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.todo-title {
  padding: 20px;
  font-weight: 600;
  color: #92c965;
}

.todo-list {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-size: 20px;
  gap : 30px;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #cce8b5;
}

.todo-lists-con{
  margin-bottom: 20px;
}

.add-list {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #53cc17;
}

.add-list-con {
  border: 1px solid #92c965;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 600;
  background-color: #92c965;
  color: white;
  text-align: center;
}

.add-list-con:hover {
  cursor: pointer;
}

.post {
  font-size: 18px;
  padding: 20px;
  color: #92c965;
  font-weight: 600;
}
.friend-post img {
  width: 70px;
  height: 70px;
  margin-left: 20px;
  border-radius: 20px;
}

.friend-post {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.friend-post__con {
  margin-right: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.friend-post__con div {
  margin-bottom: 10px;
}

.post-icon {
  padding: 20px;
  color: #92c965;
}

.post-icon span {
  margin-right: 20px;
}

.add-post {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-post-con {
  border: 1px solid #92c965;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 600;
  background-color: #92c965;
  color: white;
  text-align: center;
}

.add-post-con:hover {
  cursor: pointer;
}

.post-icon i:hover {
  color: #51a73a;
  cursor: pointer;
}