.display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWy78cujIzbj2HzS89OTGsPeHqNwEkBIn3EQ&usqp=CAU");
  padding: 15px 0px;
  font-weight: 600;
}

.display span {
  margin: 0px 10px;
}

.friend-info {
  display: flex;
  align-items: center;
}


.user-component__profile {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  margin-right: 20px;
  padding: 0px 20px;
  margin-right: 0;
}

.friend {
  margin-bottom: 20px;
  position: relative;
}


.friend-num {
  padding: 20px;
  opacity: 0.7;
}

.friends {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend-music {
  padding-right: 20px;
  font-size: 20px;
}

.friend-music span{
  opacity: 0.7;
  border-radius: 40px;
}

.friend-music i {
  color: #7ec85d;
}

.friend-music__info {
  border: 1px solid #7ec85d;
  padding : 5px 10px;
  border-radius: 40px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-screen {
  background-color: #96c444;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top : 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: hideSplashScreen 2s ease-in-out forwards;
}

.splash-screen-title {
  font-size: 25px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

.splash-screen-subtitle {
  font-size: 70px;
  font-weight: 600;
  color: white;
}

.nav__notification3 {
  width: 20px;
  height: 20px;
  background-color: #7ec85d;
  color: white;
  border-radius: 50%;
  text-align: center;
  left: 70px;
  top: 1px;
  position: absolute;
}